.friends-panel {
    position: fixed;
    top: 90px; /* Adjust this value based on your navbar height */
    right: -300px; /* Start off-screen on the right */
    width: 300px;
    height: calc(100% - 60px); /* Adjust this value based on your navbar height */
    background-color: #000000;
    transition: right 0.3s ease-in-out;
    border-left: 4px solid rgb(37, 102, 80);
  }
  
  .friends-panel.open {
    right: 0; /* Move to the center of the screen */
  }
  
  
  